<div class="banner bg-c-b">
    <div class="container-fluid bg-c-b">
        <div class="row text-center text-white py-5">
            <h1 style="color: violet"><b>UNISAN</b></h1>
            <p class="h1"><b>Contact US</b></p>
            <p>Having a source to interact with one another smoothens the workflow</p>
            <!-- <img src="../../../assets/banner.jfif" class=" test w-50"> -->
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="carddetails m-5">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56357079.566494465!2d1.8446046999999965!3d30.4428153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xca127a3a18ede9f%3A0x7c6c652c2642fd20!2sUnisan!5e0!3m2!1sen!2sin!4v1672682883445!5m2!1sen!2sin"
                    width="" height="" style="border:0;" allowfullscreen="true" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="carddetails m-5 p-2">
                <h5 class="p-2"><b>LOCATION - </b></h5>
                <hr>
                <h5 class="p-3">
                    <p>We are operating Remotely as our experienced team members are working from different parts of
                        India</p>
                    <p>
                        <span class="m-2"><i class="fas fa-map-marker-alt"> INDIA</i></span>
                    </p>
                    <p>
                        <span class="m-2"><i class="fas fa-envelope"><a class="link" href="mailto: adhiraj.unisan@gmail.com"> adhiraj.unisan@gmail.com</a></i></span>
                    </p>
                    <p>
                        <span class="m-2"><i class="fas fa-phone"><a class="link" href="tel:+919696678829"> +91 9696678829</a></i></span>
                    </p>
                </h5>
            </div>
        </div>
    </div>
</div>