<div class="carddetails m-5 p-2">
    <h5 class="p-2"><b>LOCATION - </b></h5>
    <hr>
    <h5 class="p-3">
        <p>We are operating Remotely as our experienced team members are working from different parts of
            India</p>
        <p>
            <span class="m-2"><i class="fas fa-map-marker-alt"> INDIA</i></span>
        </p>
        <p>
            <span class="m-2"><i class="fas fa-envelope"><a class="link" href="mailto: adhiraj.unisan@gmail.com"> adhiraj.unisan@gmail.com</a></i></span>
        </p>
        <p>
            <span class="m-2"><i class="fas fa-phone"><a class="link" href="tel:+919696678829"> +91 9696678829</a></i></span>
        </p>
    </h5>
</div>