<div class="banner bg-c-b">
    <div class="container-fluid bg-c-b">
        <div class="row text-center text-white py-5">
            <h1 style="color: violet"><b>UNISAN</b></h1>
            <p class="h1"><b>TERMS AND CONDITIONS</b></p>
            <!-- <img src="../../../assets/banner.jfif" class=" test w-50"> -->
        </div>
    </div>
</div>

<div class="tnc">
    <div class="container p-5">
        <div class="col">
            <div class="content">
                <h5><b>INTRODUCTION:</b></h5>
                <p>
                    These terms and conditions (the "Terms") govern your use of the UNISAN website and the services
                    provided by UNISAN (the "Services"). Please read these Terms carefully before using the Services. By
                    accessing or using the Services, you agree to be bound by these Terms. If you do not agree to these Terms, please
                    do not use the Services.
                </p>
                <p>
                    UNISAN is a self-owned organization that provides technical solutions and services to businesses.
                    Our goal is to help businesses run smoothly by providing the latest technology tools and experienced
                    designers, developers, data analysts, and visualization experts.
                </p>

                <h5><b>THE UNISAN SERVICE:</b></h5>
                <p>
                    Opportunity to connect with us for your business requirements
                    Providing a latest technology tools set-up for your work
                    Designers with experiences to fulfil your requirements
                    Developers with experiences to provide the best solution for your technical problems
                    Data Analyst and Visualization facility for businesses requirements
                    USE OF THE SERVICES:
                </p>
                <p>
                    You may use the Services only in compliance with these Terms and all applicable local, state,
                    national, and international laws, rules, and regulations. You may not use the Services for any unlawful or
                    fraudulent purpose.
                </p>

                <h5><b>INTELLECTUAL PROPERTY:</b></h5>
                <p>
                    The Services and all content and materials included on the Services, including but not limited to
                    text, graphics, images, logos, and software, are the property of UNISAN or its licensors and are protected
                    by copyright and other intellectual property laws. You may not use any content or materials on the
                    Services for any commercial purpose without the express written consent of UNISAN.
                </p>

                <h5><b>DISCLAIMER OF WARRANTIES:</b></h5>
                <p>
                    UNISAN provides the Services on an "as is" and "as available" basis. UNISAN makes no representations
                    or
                    warranties of any kind, express or implied, as to the operation of the Services or the information,
                    content, materials, or products included on the Services. UNISAN does not warrant that the Services
                    will
                    be uninterrupted or error-free.
                </p>
                <h5><b>LIMITATION OF LIABILITY:</b></h5>
                <p>
                    UNISAN will not be liable for any damages of any kind arising from the use of the Services,
                    including but not limited to direct, indirect, incidental, punitive, and consequential damages.
                </p>

                <h5><b>INDEMNIFICATION:</b></h5>

                <p>
                    You agree to indemnify and hold UNISAN and its affiliates, officers, agents, and employees harmless
                    from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising
                    out of your use of the Services, your violation of these Terms, or your violation of any rights of
                    another.
                </p>
                <!-- <h5><b>GOVERNING LAW:</b></h5>
                <p>
                    These Terms and your use of the Services will be governed by and construed in accordance with the
                    laws
                    of the state of [Insert State], without giving effect to any principles of conflicts of law.
                </p> -->

                <h5><b>CHANGES TO THE TERMS:</b></h5>

                <p>
                    UNISAN reserves the right to update or modify these Terms at any time without prior notice. Any
                    changes
                    to the Terms will be effective immediately upon posting on the Services. Your continued use of the
                    Services after the posting of any changes to the Terms constitutes your acceptance of such changes.
                </p>


                <h5><b>ACCEPTANCE OF THE TERMS:</b></h5>
                <p>
                    By using the Services, you acknowledge that you have read these Terms and agree to be bound by them.
                    If
                    you do not agree to these Terms, please do not use the Services.

                </p>

                <h5><b>CONTACT INFORMATION:</b></h5>
                <p>
                    If you have any questions or concerns about these Terms or the Services, please contact us at
                    <a href="mailto:adhiraj.unisan@gmail.com">adhiraj.unisan@gmail.com</a>
                
                </p>

            </div>
        </div>

    </div>
</div>