<div class="banner bg-c-b">
    <div class="container-fluid text-white ">
        <div class="row text-center py-5">
            <h1 style="color: violet"><b>UNISAN</b></h1>
            <p class="h1"><b>GIVE YOUR COMMUNITY <br> FACE IN THE GAME</b></p>
            <p><b>UNISAN</b> provides all the resources needed by their clients to make <br> them grow taking full
                Accountability of their requirements</p>
            <!-- <h2><b>PRICING</b></h2> -->
            <!-- <img src="../../../assets/banner.jfif" class=" test w-50"> -->
        </div>
    </div>
</div>


<div class="pricing container py-5 ">

    <h2 class="text-center"><b>PLEASE CONTACT US TO GET A BETTER VIEW OF PRICING ...</b></h2>
    <div class="services">
        <div class="row">
            <div class="col-md-4">
                <div class="card m-5">
                    <!-- <a routerLink="designing"> -->
                    <div class="card-header">
                        <img src="../../../assets/images/designing.png" class="w-100 h-100"
                            alt="designing services at Unisan">
                    </div>
                    <div class="card-body text-center"><b>DESIGNING</b></div>
                    <!-- </a> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card m-5">
                    <!-- <a routerLink="web-development"> -->
                    <div class="card-header">
                        <img src="../../../assets/images/web-development.png" class="w-100 h-100"
                            alt="web development services at Unisan">
                    </div>
                    <div class="card-body text-center"><b>Web Development</b></div>
                    <!-- </a> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card m-5">
                    <!-- <a routerLink="data-analyst"> -->
                    <div class="card-header">
                        <img src="../../../assets/images/data-analysis.png" class="w-100 h-100"
                            alt="data analyst service at Unisan">
                    </div>
                    <div class="card-body text-center"><b>DATA ANALYST</b></div>
                    <!-- </a> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card m-5">
                    <div class="card-header">
                        <img src="../../../assets/images/seo-content.png" class="w-100 h-100"
                            alt="SEO content service at Unisan">
                    </div>
                    <div class="card-body text-center"><b>SEO CONTENT</b></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card m-5">
                    <div class="card-body text-center">
                        <h5><b>OUR PRICING DEPENDS UPON</b></h5>
                        
                        <ul>
                            <li>Services utilized</li>
                            <li>Duration of project</li>
                            <li>Professionals working in project</li>
                            <li>Demand of work</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>