<!-- BANNER   -->
<div class="banner bg-c-b">
    <div class="container-fluid ">
        <div class="row text-center text-white py-5">
            <p class="h1"><b>UNISAN</b></p>
            <h3><b>PRIVACY POLICY</b></h3>
            <!-- <img src="../../../assets/banner.jfif" class=" test w-50"> -->
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="col p-5">
            
                <p>
                    We at UNISAN value your privacy and are committed to protecting the personal information that you
                    share with
                    us.
                </p>
                <p>
                    We collect your information in order to provide you with better services and to understand your
                    requirements more effectively. The purpose of this privacy policy page is to inform you about how we
                    collect, use, and protect your data.
                </p>
                <p>
                    The sources of data collection may include our website, Google forms, and any other medium as
                    required. The
                    information we may collect may include
                <ul>
                    <li>NAME</li>
                    <li>EMAIL</li>
                    <li>PHONE NUMBER</li>
                    <li>ADDRESS</li>
                    <li>Any other details as per the requirements</li>
                </ul>
                as well as company details and any other data that may be useful in providing you with better services
                by
                understanding your requirements.
                
                <p>
                    We may use your information to provide you with better services that will benefit you and your
                    business in
                    terms of growth, after understanding your requirements and researching your data.
                </p>

                <p><b> DATA SECURITY:</b></p>

                <p>
                    We take the security of your data seriously and have our own systems in place for storing your data
                    without
                    the use of any third parties.

                </p>

                <p><b>CHANGES TO OUR POLICY:</b></p>
                <p>
                    Any changes to our policy will be notified by updating our website. Please refer to the privacy
                    policy
                    section to stay informed about any changes.
                </p>


                <p><b>Reach Out to US:</b></p>
                <p>
                    If you have any questions or concerns about our privacy policy, please contact us at <a
                        href="adhiraj.unisan@gmail.com">adhiraj.unisan@gmail.com</a><br>
                    Thank you for choosing UNISAN for your business needs.
                </p>


            
        </div>
    </div>

</div>