<div class="banner bg-c-b">
    <div class="container-fluid text-white ">
        <div class="row text-center py-5">
            <h1 style="color: violet"><b>UNISAN</b></h1>
            <p class="h1"><b>CARRERS</b></p>
            <p><b>UNISAN</b> provides growth opportunities to different domain students<br> and working professionals to gain experience and work with us</p>
            <!-- <img src="../../../assets/banner.jfif" class=" test w-50"> -->
        </div>
    </div>
</div>


<div class="carrers container my-5">
    <div class="text-center">
        <h3><b>WE ARE GOING TO LAUNCH OPTIONS OF INTERNSHIPS AND JOBS SOON. <br><br>
            KEEP VISITING OFTENLY TO BE UPDATED</b> 
        </h3>
    </div>
</div>