<div class="banner bg-c-b">
    <div class="container-fluid text-white ">
        <div class="row text-center py-5">
            <h1 style="color: violet"><b>UNISAN</b></h1>
            <p class="h1"><b>GIVE YOUR COMMUNITY <br> FACE IN THE GAME</b></p>
            <p><b>UNISAN</b> provides all the resources needed by their clients to make <br> them grow taking full
                Accountability of their requirements</p>
            <!-- <img src="../../../assets/banner.jfif" class=" test w-50"> -->
        </div>
    </div>
</div>

<div class="container my-5 text-center">
    <h1><b>ERROR 404</b></h1>
    <h1>IT SEEMS LIKE YOU LANDED ON A WRONG PAGE</h1>
    <h1>DON'T MISS OUT GET DIRECTLY BACK TO OUR HOMEPAGE</h1>
    <p class="hp-btn"><a routerLink="/">GO BACK TO OUR HOMEPAGE</a></p>
</div>