<!-- BANNER   -->
<!-- <div class="banner bg-c-b">
    <div class="container-fluid text-white ">
        <div class="row text-center py-5">
            <h1 style="color: violet"><b>UNISAN</b></h1>
            <p class="h1"><b>GIVE YOUR COMMUNITY <br> FACE IN THE GAME</b></p>
            <p><b>UNISAN</b> provides all the resources needed by their clients to make <br> them grow taking full
                Accountability of their requirements</p>
            <img src="../../../assets/banner.jfif" class=" test w-50">
        </div>
    </div>
</div> -->


<div class="banner">
    <div class="heading p-5">
        <div class="col-md-6">
            <h1><b>UNISAN</b></h1>
            <h5>Technology Industry , Service Oriented , Quality Focused</h5>
        </div>
    </div>
</div>

<div class="value">
    <div class="bg-c-b py-5 txt-c-w text-center">
        <h4><b>VALUE MEANS NOTHING MORE THAN SOLVING OUR CLIENT'S TECHNICAL PROBLEMS AND GROW THEIR BUSINESS</b></h4>
    </div>
</div>

<!-- SERVICES  -->
<div class="container font1">
    <div class="mt-5">
        <div class="col-12 text-center red">
            <h1><b>Your search ends here</b></h1>
            <h5><b>We have all the equipments ready for your growth according to your requirements </b></h5>
        </div>


        <div class="row aboutus">
            <div class="col-lg-6">
                <div class="cardbox text-center my-5 py-2">
                    <h5 class="p-2 h-100 lh-2">
                        Our team has experienced persons working totally for the people to grow their dreams bigger
                        just by reducing their problems while facing technology as a barrier.
                        <br><br>
                        Technology is growing daily and so do we.... <br><b>WHY ARE WE WORKING SO HARD ?</b> <br>
                        Just to don't let you feel left behind <br>
                        <span class="txt-c-r float-right"><a href="/aboutus">ABOUT US </a></span>
                    </h5>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardbox text-center my-5 ">
                    <img class="w-100 h-100 cardbox"
                        src="https://tse2.mm.bing.net/th?id=OIP.qZ_q2PgSdTShpBpeH2ZpPwHaEK&pid=Api&P=0">
                </div>
            </div>
        </div>

        <!-- ABOUT UNISAN   -->
        <div class="about py-5">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://cdn.shopify.com/s/files/1/0317/8397/files/about_banner2.jpg?10644745255139821616"
                        class="w-100 rounded-circle" alt="about-us-image">
                </div>
                <div class="col-md-8">
                    <h4 class="text-center"><b>
                            UNISAN helps clients and bussiness to grow their platform smoothly on global level as we
                            work on technical requirements and bussiness of the website.
                            We work on excellence and quality to match your expectations and keep your standards high.
                        </b></h4>
                </div>
            </div>
        </div>

        <!-- SERVICES    -->
        <div class="services my-5">
            <h1 class="text-center"><b>YOU GOT'TA CHALLENGE</b></h1>
            <h5 class="text-center"><b>UNISAN IS HERE TO REFILL YOUR CUPS</b></h5>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="cardbox bg-c-b txt-c-w text-center mt-5">
                    <div id="logo">
                        <i class="far fa-stop-circle"></i>
                    </div>
                    <div id="heading">
                        <h5><b>UI/UX</b></h5>
                    </div>
                    <div id="description" class="p-2 bg-c-b">
                        <h5>Create visuals and mock layouts to give clearity to your websites and help you build
                            beautiful and interactive web designs for the clients</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="cardbox bg-c-r txt-c-w text-center mt-5">
                    <div id="logo">
                        <i class="far fa-stop-circle"></i>
                    </div>
                    <div id="heading">
                        <h5><b>WEBSITE</b></h5>
                    </div>
                    <div id="description" class="p-2 bg-c-r">
                        <h5>All needs to make your bussiness online or to make it better customized for your clients. We
                            have all arms ready to get started with it</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="cardbox bg-c-b txt-c-w text-center mt-5">
                    <div id="logo">
                        <i class="far fa-stop-circle"></i>
                    </div>
                    <div id="heading">
                        <h5><b>SEO</b></h5>
                    </div>
                    <div id="description" class="p-2 bg-c-b">
                        <h5>Search Engine Optimiation is necessity to reach down to right persons at the right time, get
                            connected with us and let us handle your issues </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="cardbox bg-c-r txt-c-w text-center mt-5">
                    <div id="logo">
                        <i class="far fa-stop-circle"></i>
                    </div>
                    <div id="heading">
                        <h5><b>HOSTING</b></h5>
                    </div>
                    <div id="description" class="p-2 bg-c-r">
                        <h5>We provide hosting services just at minimal rates to make your website run smoother at
                            minimum downtime </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="cardbox bg-c-b txt-c-w text-center mt-5">
                    <div id="logo">
                        <i class="far fa-stop-circle"></i>
                    </div>
                    <div id="heading">
                        <h5><b>COPYWRITING</b></h5>
                    </div>
                    <div id="description" class="p-2 bg-c-b">
                        <h5>Copywriting is not just an option anymore. It has became mandatory to write down the
                            importance of requirements after doing search over them</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="cardbox bg-c-r txt-c-w text-center mt-5">
                    <div id="logo">
                        <i class="far fa-stop-circle"></i>
                    </div>
                    <div id="heading">
                        <h5><b>DATA ANALYSIS</b></h5>
                    </div>
                    <div id="description" class="p-2 bg-c-r">
                        <h5>You have meaningless data , we have working experts who makes your data useful to you with
                            their skills and experiences </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="connectus bg-c-r txt-c-w p-5 my-5">
    <div class="row text-center">
        <div class="col-md-7">
            <h3><b>
                    WANT TO WORK WITH US <br>
                    CONNECT WITH US
                </b></h3>
        </div>
        <div class="col-md-5 contact-links">
            <!-- <form>
                <input type="text" class="form-control" placeholder="enter your email id">
            </form> -->
            <!-- <button class="w-50 rounded-square m-2 text-white"><a href="mailto:adhiraj.unisan@gmail.com">MAIL US</a></button>
            <br>
            <button class="w-50 rounded-square m-2"><a href="tel: +91 9696678829">CONTACT US</a></button>
         -->
            <span class="m-3"><i class="fas fa-envelope"><a class="link" href="mailto: adhiraj.unisan@gmail.com">
                        adhiraj.unisan@gmail.com</a></i></span>
            <br>
            <span class="m-3"><i class="fas fa-phone"><a class="link" href="tel:+919696678829"> +91
                        9696678829</a></i></span>
        </div>
    </div>
</div>

<div class="wework my-5">
    <h1 class="container text-center my-5"><b>HOW OUR WORKS MEETS YOUR REQUIREMENTS</b></h1>
    <div class="row">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <img src="/assets/images//homepage/business-people-casual-meeting.jpg"
                        class="d-block w-100 h-100" alt="business growth globally">
                    <div class="carousel-caption d-none d-sm-block">
                        <div class="carddetails card2 m-5 p-2">
                            <h5 class="p-2"><b>WANT TO REACH OUT TO GLOBAL PLATFORM OUTSIDE OF LOCAL AREA</b></h5>
                            <hr>
                            <h5 class="p-3">
                                Building a website takes you level ahead of others by making you visible among global
                                clients.
                                <br><br>
                                HOW IT helps
                                <li class="m-1">More audience interaction</li>
                                <li class="m-1">Better service/product interaction </li>
                                <li class="m-1">People understands your niche</li>
                                <li class="m-1">Know about your works</li>
                                <li class="m-1">Get your Portfolio designed for your growth and your records</li>
                            </h5>
                        </div>
                    </div>
                    <div class="carousel-caption d-sm-block">
                        <p class="text-white mt-5 card2">PLANNING</p>
                    </div>

                </div>
                <div class="carousel-item ">
                    <img src="../../../assets/images/services/wd2.jpg" class="d-block w-100 h-100"
                        alt="business growth globally">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carddetails card2 m-5 p-2">
                            <h5 class="p-2"><b>Designing beautiful interfaces for your website and beautiful templates
                                    for your cards , emails hellp you to reach out to more people.
                                </b></h5>

                            <h5 class="p-3">

                                HOW IT helps
                                <li class="m-1">Interfaces helps better interaction from the user</li>
                                <li class="m-1">Psychology plays an important role designing interface for your website
                                </li>
                                <li class="m-1">Designing cards makes you show yourself to others</li>
                            </h5>
                        </div>
                    </div>
                    <div class="carousel-caption d-sm-block">
                        <p class="text-white mt-5 card2">DESIGNING & DEVELOPING</p>
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <img src="assets/images/services/seo-6.webp" class="d-block w-100 "
                        alt="business growth globally">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carddetails card2 m-5 p-2">
                            <h5 class="p-2"><b>Technology is evolving and so we need to optimize our contents , websites
                                    , blogs and post based on SEO contents to keep them among the race of ranking them
                                    top globally
                                </b></h5>

                            <h5 class="p-3">

                                <b>HOW IT helps</b>
                                <li class="m-1">Get our website to reach more number of right peoples </li>
                                <li class="m-1">Getting audience directly to us by ranking at the top in the searches
                                </li>
                                <li class="m-1">Getting more traffic interaction</li>
                            </h5>
                        </div>
                    </div>
                    <div class="carousel-caption d-sm-block">
                        <p class="text-white mt-5 card2">SEO CONTENT WRITING</p>
                    </div>
                </div>
                <div class="carousel-item h-100">
                    <img src="../../../assets/images/services/da-2.jpg" class="d-block w-100"
                        alt="business growth globally">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carddetails card2 m-5 p-2">
                            <h5 class="p-2"><b> Data is just simple data anymore , it has became a main source of
                                    information , getting insights
                                    from the past and predicting future.</b>
                            </h5>

                            <h5 class="p-3">

                                <br><br>
                                <b>HOW IT helps</b>
                                <li class="m-1">Making unstructured data into structured form to make it understandable
                                </li>
                                <li class="m-1">Converting numbers and values into graphs help us to gain better
                                    insights from it
                                </li>
                                <li class="m-1">Better visualized graphs helps us to make better decisions in bussiness,
                                    works and
                                    every other fields too</li>
                            </h5>
                        </div>
                    </div>
                    <div class="carousel-caption d-sm-block">
                        <p class="text-white mt-5 card2">DATA ANALYST</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



        <!-- <div class="col-md-6">
            <div class="carddetails m-5 p-2">
                <h5 class="p-2"><b>WANT TO REACH OUT TO GLOBAL PLATFORM OUTSIDE OF LOCAL AREA</b></h5>
                <hr>
                <h5 class="p-3">
                    Building a website takes you level ahead of others by making you visible among global clients.
                    <br><br>
                    HOW IT helps
                    <li class="m-1">More audience interaction</li>
                    <li class="m-1">Better service/product interaction </li>
                    <li class="m-1">People understands your niche</li>
                    <li class="m-1">Know about your works</li>
                    <li class="m-1">Get your Portfolio designed for your growth and your records</li>
                </h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="carddetails m-5 p-2">
                <h5 class="p-2"><b>WANT A BEAUTIFUL INTERFACE FOR YOUR WEBSITE OR A BEAUTIFUL DESIGN OR LOGO</b></h5>
                <hr>
                <h5 class="p-3">
                    Designing beautiful interfaces for your website and beautiful templates for your cards , emails
                    hellp you to reach out to more people.
                    <br><br>
                    HOW IT helps
                    <li class="m-1">Interfaces helps better interaction from the user</li>
                    <li class="m-1">Psychology plays an important role designing interface for your website</li>
                    <li class="m-1">Designing cards makes you show yourself to others</li>
                </h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="carddetails m-5 p-2">
                <h5 class="p-2"><b>REQUIREMENT OF A GOOD CONTENT BASED ON SEO OR TOTALLY SEO OPTIMATION IN YOUR
                        WEBSITE</b></h5>
                <hr>
                <h5 class="p-3">
                    Technology is evolving and so we need to optimize our contents , websites , blogs and post based on
                    SEO contents to keep them among the race of ranking them top globally
                    <br><br>
                    <b>HOW IT helps</b>
                    <li class="m-1">Get our website to reach more number of right peoples </li>
                    <li class="m-1">Getting audience directly to us by ranking at the top in the searches</li>
                    <li class="m-1">Getting more traffic interaction</li>
                </h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="carddetails m-5 p-2">
                <h5 class="p-2"><b>DATA IN TODAY'S WORLD IS THE MOST IMPORTANT THING , IF YOU KNOW HOW TO USE IT</b>
                </h5>
                <hr>
                <h5 class="p-3">
                    Data is just simple data anymore , it has became a main source of information , getting insights
                    from the past and predicting future.
                    <br><br>
                    <b>HOW IT helps</b>
                    <li class="m-1">Making unstructured data into structured form to make it understandable</li>
                    <li class="m-1">Converting numbers and values into graphs help us to gain better insights from it
                    </li>
                    <li class="m-1">Better visualized graphs helps us to make better decisions in bussiness, works and
                        every other fields too</li>
                </h5>
            </div>
        </div> -->
    </div>
</div>

<div class="connectus bg-c-r txt-c-w p-5 my-5">
    <div class="row text-center">
        <div class="">
            <h3><b>
                    GIVE US THE CHANCE TO MAKE SOMETHING USEFUL FOR YOU AS OUR EXPERTS ARE READY TO DIG DEEP INTO THE
                    PROBLEM AND BRING SOME SOLUTION FOR YOU
                </b></h3>
        </div>
        <div class="contact-links">
            <p class="mt-2">
                <span class="m-2"><i class="fas fa-map-marker-alt"> INDIA</i></span>
                <span class="m-2"><i class="fas fa-envelope"><a class="link" href="mailto: adhiraj.unisan@gmail.com">
                            adhiraj.unisan@gmail.com</a></i></span>
                <span class="m-2"><i class="fas fa-phone "><a class="link" href="tel:+919696678829"> +91
                            9696678829</a></i></span>
            </p>

            <!-- <form class="">
                <input type="text" class="form-control text-center" placeholder="Enter your website so we may find how we can help your website grow">
            </form> -->
        </div>
    </div>
</div>
<!-- about us  -->