<h1 class="m-5 text-center"><b>Search Engine Optimization (SEO) WORKS AT UNISAN</b></h1>

<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <div class="img img1">
                <img class="w-100 h-100" src="../../../assets/images/services/seo-1.webp">
            </div>
        </div>
        <div class="col-md-4">
            <div class="img img1">
                <img class="w-100 h-100" src="../../../assets/images/services/seo-2.webp">
            </div>
        </div>
        <div class="col-md-4">
            <div class="img img1">
                <img class="w-100 h-100" src="../../../assets/images/services/seo-6.webp">
            </div>
        </div>
        <div class="col-md-6">
            <div class="img img1">
                <img class="w-100 h-100" src="../../../assets/images/services/seo-4.jpg">
            </div>
        </div>
        <div class="col-md-6">
            <div class="img1 text-center">
                <h3 class="my-5"><b>
                        SEARCH ENGINE OPTIMIZATION
                    </b></h3>
                <h5>
                    GOOGLE CRAWERS ALGORITHM BASED SEARCHING FOR RANKING YOUR WEBSITE AMONGST THE TOP SEARCHES
                </h5>
                <p>
                    SEO is the process of improving the quality and quantity of website traffic
                    to a website or a web page from search engines. SEO targets unpaid traffic rather than direct
                    traffic or paid traffic
                </p>

            </div>
        </div>        
        <div class="col-md-6">
            <div class="img1 text-center my-5">
                <h3><b>
                        PROCESSES INVOLVED IN SEO
                    </b></h3>
                <h5>
                    <ul>
                        <li>Keywords Researching and Competition Analyzing</li>
                        <li>Keywords based content writing</li>
                        <li>Backlinking for better reach</li>
                        <li>Speed optimization of website based upon performance</li>
                        <li>Doing ANalysis of Website traffic</li>
                    </ul>
                </h5>

            </div>
        </div>
        <div class="col-md-6">
            <div class="img img1">
                <img class="w-100 h-100" src="../../../assets/images/services/seo-5.jpg">
            </div>
        </div>
        <div class="col-md-3">
            <div class="img img1 my-5">
               <h2 class="text-center text-danger">
                    <b>HURRAY <br> WE HAVE ACCOMPLISHED</b>
               </h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img1">
                <img class="w-100 h-100" src="../../../assets/images/services/seo-3.webp">
            </div>
        </div>
        <div class="col-md-3">
            <div class="img img1 my-5">
               <h2 class="text-center text-danger">
                    <b>WEBSITE <br> is gaining better performance</b>
               </h2>
            </div>
        </div>
    </div>
</div>