<h1 class="text-center my-2"><b>WEBSITES / SOFTWARES WORKS AT UNISAN</b></h1>

<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <div class="img img1">
                <img class="w-100 h-100" src="../../../assets/images/services/wd1.jpg">
            </div>
        </div>
        <div class="col-md-4">
            <div class="img img1">
                <img class="w-100 h-100" src="../../../assets/images/services/wd2.jpg">
            </div>
        </div>
        <div class="col-md-4">
            <div class="img img1">
                <img class="w-100 h-100" src="../../../assets/images/services/wd3.jpg">
            </div>
        </div>
        <div class="col-md-6">
            <div class="img1">
                <div class="cardbox text-center my-5 py-2">
                    <h5 class="p-2 h-100 lh-2"><b>
                        WE UNDERSTANDS THE REQUIREMENTS OF A WEBSITE then our team of developers sees the possibe way to bring your requirements into reality.
                    </b></h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img1">
                <div class="cardbox text-center my-5 py-2">
                    <h5 class="p-2 h-100 lh-2"><b>
                       FRONT-END TEAM DESIGNS THE HTML , CSS , JS part of the website with the use of latest technologies to keep your business up-to-date
                    </b></h5>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="img img1">
                <img class="w-100 h-100" src="../../../assets/images/services/wd5.jpg">
            </div>
        </div>
        <div class="col-md-4">
            <div class="img img1">
                <div class="cardbox text-center my-5 py-2">
                    <h5 class="p-2 h-100 lh-2"><b>
                        WEBSITE-DEVELOPMENT PROCESS
                    </b></h5>
                    <p>
                        PLANNING > DESIGNING > DEVELOPMENT
                    </p>
                    <p>
                        <b>
                            PROFESSINALS IN THESE DOMAINS JOINS UP
                        </b><br>
                       FRONT-END DEVELOPERS <br> UI/UX designers
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img img1">
                <img class="w-100 h-100" src="../../../assets/images/services/wd4.jpg">
            </div>
        </div>
        <div class="col-md-4">
            <div class="img img1">
                <div class="cardbox text-center my-5 py-2">
                    <h5 class="p-2 h-100 lh-2"><b>
                        SOFTWARE DEVELOPMENT PROCESS
                    </b></h5>
                    <p>
                        UNDERSTANDING THE REQUIREMENTS OF A SOFTWARE AND GETTING ON THE WORK
                    </p>
                    <p>
                        <b>
                            PROFESSINALS IN THESE DOMAINS JOINS UP
                        </b><br>
                        FULL STACK DEVELOPERS
                        <br>
                        FRONT-END ENGINEERS
                        <br>
                        BACK-END-ENGINEERS
                        <br>
                        DATA-BASE DESIGNERS
                         
                    </p>
                </div>
            </div>
        </div>
     
       
    </div>
</div>