<div class="banner bg-c-b">
    <div class="container-fluid bg-c-b">
        <div class="row text-center text-white py-5">
            <p class="h1"><b>ABOUT US</b></p>
            <p>Get to know more about us</p>
            <!-- <img src="../../../assets/banner.jfif" class=" test w-50"> -->
        </div>
    </div>
</div>


<div class="aboutus container my-5">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center"><b>Working for the Bussiness and Clients to provide them help with all latest technology means</b></h3>
            <br><br>
            <h5>UNISAN helps clients and bussiness to grow their platform smoothly on global level as we work on technical requirements and bussiness of the website.
               We work on excellence and quality to match your expectations and keep your standards high.
               <br><br>
               Websites are a main source to tell about the bussiness and quality of their works. Every running bussiness need a good website 
               to make them appear globally. 
              <br><br>
              UNISAN is run down by leaders who measures quality over quantity , values over expectations and dreams over price.
              We value our clients , their expectations and their time. Our way is not just to keep the work done but to do the work in style.
            </h5>
        </div>
        <div class="col-md-6 text-center">
            <img class="cardbox w-100 h-50 my-5" src="https://tse2.mm.bing.net/th?id=OIP.DrobsfteDj2-VbGpGsRbrgHaCm&pid=Api&P=0&w=300&h=300">
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-6 text-center">
            <div class="cardbox my-2 py-2">
                <h3><b>VISION</b></h3>
                <hr>
                <h5 class="p-2">Make technology a gift and provide a better use of it to our bussiness partners and clients</h5>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="cardbox my-2 py-2">
                <h3><b>MISSION</b></h3>
                <hr>
                <h5 class="p-2">Modify the bussiness technically by providing advanced technical solutions and implementing that in their bussiness.<br></h5>
            </div>
        </div>
    </div>
</div>
